body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


.wrapper{
	position: relative;
	margin: 0;
	padding: 0;
	mix-blend-mode: multiply;
	background: #ff319c url('./../img/g1.jpg');
	background-size: cover;
	width: 100vw;
	height: 100vh;

}

#curve{
	position: absolute;
	bottom: -4px;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#curve path{
	fill: #ff0;
}


.wrapper2{
	width: 100vw;
	height: 100vh;
	background: #ff0;
}