<!doctype html />
<link rel="stylesheet" href="./style/style.css" />

<div class="wrapper">
	<header>
		<ul>
			<li>Lorem</li>
			<li>Veniam</li>
			<li>Architecto</li>
			<li>Quidem</li>
			<li>Dignissimos.</li>
		</ul>
	</header>
	<main>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat laboriosam laudantium earum maxime possimus facilis fugiat aut obcaecati ducimus hic sunt explicabo beatae illo itaque pariatur rerum eligendi delectus illum nulla, consequatur nobis? Fugiat consequuntur minima animi, at cumque expedita blanditiis quidem, laudantium, tenetur error aliquid illum aperiam beatae officia sapiente minus ratione, praesentium debitis reiciendis. Perferendis nostrum recusandae, voluptatibus odit praesentium assumenda! Dolorum architecto, nemo sequi debitis tenetur quaerat labore ex sint voluptatem dicta, optio sit accusamus reprehenderit ducimus. Error sequi impedit, aperiam sit commodi blanditiis corporis consectetur voluptate maxime rerum cum, minus quisquam excepturi, eaque iure iusto dolorum!
		</p>
	</main>
	<footer>
		<address>
			Lorem ipsum dolor sit amet, consectetur adipisicing.
		</address>
	</footer>
</div>