@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Kanit');

body{
	margin: 0;padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100vw; height: 100vh;
	background: #f2f2f2;
}

.wrapper{
	width: 100%; height: 100%;
	background: url('./../img/ggg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

.content{
	position: absolute;
	display: grid;
	text-transform: uppercase;
	text-align: center;	
	justify-content: center;
}

.center{
	position: relative;
	display: block;
	top: calc( 50% - 3.3em ); left: 50%;
	transform: translate(-50%, -50%);
}

.bottom{
	bottom: .45em; left: 50%;
	transform: translate(-50%);
	text-align: center;
	width: 100%; height: 30vh;
	background: #f2f2f2;
}

.center > p{
	position: absolute;
	top: 75%;left: 50%;
	transform: translateX(-50%);
	font-size: 1.5em;
	font-family: 'Kanit', sans-serif;
	letter-spacing: .4em;
	color: rgba(0,0,0,.6);
	margin: 0;
}

h1{
	font-family: 'Kanit', sans-serif;
	font-size: 6.6em;
	white-space: nowrap;
	letter-spacing: .3em;
	color: rgba(0,0,0,.6);
	margin: 0;
	width: auto;
	box-sizing: content-box;
}


h2{
	font-family: 'Muli', sans-serif;
	margin: 0;
	font-size: 8.6em;
	letter-spacing: .11em;
	color: rgba(0,0,0,.6);
	background: url('./../img/ggg.jpg') no-repeat;
	background-position: 4.9px -444px;
	background-size: cover;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

