@keyframes gradientAnimation{
	from{
		background: #FFC0CB;

	}
	10%{
		background: #FFE4E1;
	}
	20%{
		background: #E6E6FA;	
	}
	30%{
		background: #D3FFCE;
	}
	40%{
		background: #FF7373;
	}
	50%{
		background: #FF0000;
	}
	60%{
		background: #800000;
	}
	70%{
		background: #F08080;
	}
	80%{
		background: #468499;
	}
	90%{
		background: #66CDAA;
	}
	to{
		background: #00CED1;
	}

}

@keyframes ColorAnimation{
	from{
		color: #FFC0CB;
		filter: blur(1px);
	}
	10%{
		color: #FFE4E1;
		filter: blur(2px);
	}
	20%{
		color: #E6E6FA;
		filter: blur(3px);	
	}
	30%{
		color: #D3FFCE;
		filter: blur(1px);
	}
	40%{
		color: #FF7373;
		opacity: .8;
	}
	50%{
		color: #FF0000;
		opacity: .5;
	}
	60%{
		color: #800000;
		opacity: .8;
	}
	70%{
		color: #F08080;
		opacity: .5;
	}
	80%{
		color: #468499;
	}
	90%{
		color: #66CDAA;
	}
	to{
		color: #00CED1;
	}

}
